.title{
    background-color: coral;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5%;
  }
  
  .content{
    display: flex;
    gap: 50px;
  }

  .container{
    flex:5
  }

  @media screen and (max-width: 1024px) {
    .content{
      display: block;
    }
  }
  